*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #FFFFFF;
}

/* header section */
.header-section, .banner-section {
    background-color:#F0FFF0;
}
.navbar {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}

.logo {
    max-width: 180px;
}
.logo img {
    width: 100%;
    display: block;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar li {
    list-style: none;
}


.navbar li a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
     
}

.btn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 28px;
    background-color:#21B573;
    color: #FFFFFF;
    border-radius: 50px;
    display: inline-block;
}
/* banner-section */
.banner-section {
    padding: 60px 20px;
    
}
.container {
    max-width: 1300px;
    margin:  0 auto;
    padding: 15px;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1300px;
    margin:  0 auto;
 
}
.banner-content {
    width: 500px;
 
}

.banner-content p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 30px;
}

.banner-content h1 {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 25px;
}

.color-blue {
    color: #21B573;
}
.banner-sub-title {
    font-weight: 400;
    color:#FD511A;
}

 .banner-image {
     
    text-align: center;
 
 }
.banner-image img {
    max-width: 700px;;
    height: auto;
    display: inline-block;
}

/* Student Section */
.student-wrapper {
    display: flex;
    justify-content: space-between;
    background-color:#FFFFFF ;
    gap: 30px;
    margin: 60px 0;
}
.item {
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
    padding: 20px 30px;
    text-align: center;
    border-radius: 8px;
}
.item img {
    max-width: 100px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
.item h3 {
    font-size: 22px;
    margin-bottom: 5px;
}
.item p {
    font-size: 16px;
    color: #555;
}